<h2 id="asideTitle">Produkter</h2>
<ul id="asideNav">
    <li class="asideNavItem">
        Alle
    </li>
    <li class="asideNavItem">
        Shoon
    </li>
    <li class="asideNavItem">
        Korea Special
    </li>
    <li class="asideNavItem">
        US. Imports
    </li>
    <li class="asideNavItem">
        Sleek Fabrics UK
    </li>
</ul>