<h2 id="asideTitle">Produkter</h2>
<ul id="asideNav">
    <li class="asideNavItem">
        <a href="/produkter">Alle</a>
    </li>
    <li class="asideNavItem">
        <a href="/produkter?cat=0">Shoon</a>
    </li>
    <li class="asideNavItem">
        <a href="/produkter?cat=1">Korea Special</a>
    </li>
    <li class="asideNavItem">
        <a href="/produkter?cat=2">US. Imports</a>
    </li>
    <li class="asideNavItem">
        <a href="/produkter?cat=3">Sleek Fabrics UK</a>
    </li>
</ul>