<footer>
    <ul id="footerContainer">
        <li>Slipseknuden</li>
        <li>Slipsevej 79</li>
        <li>4300</li>
        <li>Holbæk</li>
        <li>info@slipseknuden.dk</li>
        <li>www.slipseknuden.dk</li>
        <li>Tlf.: 88 99 66 44</li>
    </ul>
</footer>