<div id="headerContainer">
    <ul id="navContainer">
        <li class="navItem">
            <a class="navAnchor" href="/">Forside</a>
        </li>
        <li class="navItem">
            <a class="navAnchor" href="/om">Om Slipseknuden</a>
        </li>
        <li class="navItem">
            <a class="navAnchor" href="/garanti">Garanti</a>
        </li>
        <li class="navItem">
            <a class="navAnchor" href="/kontakt">Kontakt</a>
        </li>
        <li class="navItem">
            <a class="navAnchor" href="/nyheder">Nyheder</a>
        </li>
        <li class="navItem">
            <a class="navAnchor" href="/produkter">Produkter</a>
        </li>
        <li id="navSearch">
            <form method="post">
                <input type="text" id="searchInput"/ name="src">
                <input type="submit" id="searchSubmit" value=""/> 
            </form>
            <a href="www.facebook.com" class="socialIcon">
                <img src="icons/facebook.jpg">
            </a>
            <a href="www.twitter.com" class="socialIcon">
                <img src="icons/twitter.jpg">
            </a>
        </li>
    </ul>
</div>