:root {
  --header-min-height: 50px;
  --page-width: 1024px;
}

* {
  padding: 0;
  margin:0;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
}

ul {
  list-style: none;
}

#headerContainer {
  width:100%;
  min-height:var(--header-min-height);
  background-color:#000000;
}

#navContainer {
  width:var(--page-width);
  min-height:var(--header-min-height);
  margin:auto;
  padding:0;
}

.navItem {
  float:left;
}

.navAnchor {
  float:left;
  color:#ffffff;
  font-size:18px;
  text-decoration: none;
  padding:13px 10px 13px 10px;
}

.navItem:first-child .navAnchor { 
  padding:13px 10px 13px 0;
}

#navSearch {
  float:right;
  min-width:200px;
  max-height:50px;
  padding:0 0 0 25px;
}

#navSearch form {
  float:left;
}

#searchInput {
  width:200px;
  float:left;
  outline:0;
  padding:5px;
  margin:10px 0 0 0;
  font-size:12px;
}

#searchSubmit {
  width:24px;
  height:24px;
  background-image:url('../icons/search.jpg');
  background-repeat: no-repeat;
  float:left;
  border:0;
  margin:12px 0 10px 10px;
  cursor:pointer;
}

.socialIcon {
  height:24px;
  margin:12px 0 10px 10px;
  float:left;
}

#wrapper {
  width:100%;
  float:left;
}

#wrapperAlign {
  width:var(--page-width);
  margin:auto;
}

main {
  width:var(--page-width);
  float:left;
}

#headerLogoContainer {
  width:var(--page-width);
  float:left;
}

#pageLogo {
  float:left;
  margin:0 0 20px 0;
}

#pageAside {
  width:250px;
  min-height:400px;
  padding:10px;
  float:left;
}

#asideTitle {
  width:250px;
  float:left;
  text-align: center;
  font-size:20px;
}

#asideNav {
  width:250px;
  float:left;
  background-color:#000000;
  padding:0;
  margin:20px 0 0 0;
}

.asideNavItem {
  float:left;
  width:210px;
  min-height:20px;
  color:#ffffff;
  font-size:18px;
  padding:20px;
  cursor: pointer;
  border-bottom:1px solid #ffffff;
}

.asideInfo {
  width:200px;
  float:left;
  padding:0 25px 0 25px;
}

.asideSubTitle {
  float:left;
  width:200px;
  font-size:16px;
  margin:20px 0 20px 0;
  font-weight: bold;
}

.asideSubText {
  float:left;
  width:200px;
  font-size:16px;
}

#dynamicContent {
  width:730px;
  min-height:200px;
  float:right;
  margin:0 0 20px 0;
}

footer {
  width:100%;
  float:left;
  margin:0 0 10px 0;
}

#footerContainer {
  width:912px;
  margin:auto;
  color:#555555;
  font-size:14px;
}

#footerContainer li {
  float:left;
  padding:10px 20px 10px 20px;
}

#footerContainer li:first-child {
  padding:10px 20px 10px 0;
}

#footerContainer li:last-child {
  padding:10px 0 10px 20px;
}

#productContainer {
  width: 730px;
  float:left;
  min-height:100px;
}

.productItem {
  width:230px;
  float:left;
  min-height:100px;
  margin:0 20px 40px 0;
}

.productItem:nth-child(3n) {
  margin-right: 0;
}

.productImage {
  float:left;
  width:100px;
  height:120px;
}

.productTitle {
  width:110px;
  float:left;
  font-size:14px;
  font-weight: lighter;
  margin:20px 10px 0 10px;
  height:50px;
}

.productBtn {
  float:left;
  width:150px;
  margin:5px 40px 0 40px;
  color:#fff;
  background-color:#000;
  font-size:16px;
  border:0;
  border-radius:15px;
  padding:5px 0 5px 0;
  cursor:pointer;
  text-decoration: none;
  text-align: center;
}

.productPrice {
  width:110px;
  float:left;
  font-size:16px;
  font-weight: bolder;
  margin:30px 10px 10px 10px;
}

#productLeft {
  float:left;
  width:400px;
}

#prodTitle {
  width:400px;
  font-size:25px;
  float:left;
  margin:50px 0 0 0;
}

#prodDescription {
  width:400px;
  font-size:16px;
  float:left;
  margin:20px 0 0 0;
  height:120px;
}

#prodPrice {
  width:400px;
  font-size:18px;
  float:left;
  margin:20px 0 0 0;
  font-weight: bolder;
}

#prodImage {
  width:330px;
  float:right;
}





.indexPContainer {
  width:365px;
  min-height:200px;
  float:left;
}

.indexPImage {
  width:365px;
  float:left;
}

.indexPTitle {
  width:365px;
  float:left;
  font-size:22px;
  text-align: center;
  margin:20px 0 0 0;
}

.indexPDescription {
  width:365px;
  float:left;
  font-size:16px;
  text-align: center;
  margin:10px 0 0 0;
}

.indexPPrice {
  width:365px;
  float:left;
  font-size:20px;
  text-align: center;
  margin:20px 0 0 0;
  font-weight: bolder;
}

.indexPBtn {
  float:left;
  width:150px;
  margin:20px 0 0 107px;
  color:#fff;
  background-color:#000;
  font-size:16px;
  border:0;
  border-radius:15px;
  padding:5px 0 5px 0;
  cursor:pointer;
  text-decoration: none;
  text-align: center;
}

#pagelandTitle {
  width:730px;
  float:left;
  margin:60px 0 0 0;
  font-size:18px;
}

.pagelandDescription {
  width:730px;
  float:left;
  margin:20px 0 0 0;
  font-size:16px;
}